<!DOCTYPE html> 
<html>
<head>
<title>Page Title</title>
</head>
<body>
	<h1>hellow</h1>
	

	{% if request.user.is_authenticated %}
	<h1>Hi {{request.user.username|title}}</h1>
	{% else %}
		<p>Welcome!</p>
	{% endif %}



	<p>Titile: {{ object.title}}</p>
	<p>Year: {{ object.Year}}</p>
	{% for movie in movie%}
	<p>Actor: {{ movie.first_name}} {{ movie.last_name}}</p>
	


</p>----------------------------------------------------------------------------------------------------</p>
	
	{% endfor %}
</body>